<h1>Image Searcher</h1>

<% if params[:image_url] %>
  <h2>Images Similar To: <%= image_tag @params[:image_url], id: "original-image", style: 'width: 477px;' %></h2>
<% else %>
  <h2>Image Results For: <%= @params[:text] %></h2>
  <% if @params[:color] || @params[:aspect] %>
    <h3>Characteristics:</h3>
    <% if @params[:color] %>
      <h4>Color: <%= @params[:color] %></h4>
    <% end %>
    <% if @params[:aspect] %>
    <h4>Aspect Ratio: <%= @params[:aspect] %></h4>
    <% end %>
  <% end %>
<% end %>

<section>
  <% @images.each do |image| %>
    <div class="image">
      <%= image_tag image.url %>
    </div>
  <% end %>
</section>
