<h1 id="app-name">Image Searcher</h1>

<section id="search-text">
  <h2>Search by Text</h2>
  <%= form_tag "/search", method: :get do %>
    <%= text_field_tag :text, "", placeholder: "Text" %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<section id="search-characteristics">
  <h2>Search by Dominant Color</h2>
  <%= form_tag "/search", method: :get do %>
    <%= text_field_tag :text, "", placeholder: "Text" %>
    <% @colors.each do |color| %>
      <p><%= radio_button_tag 'color', "#{color}" %><%= color %></p>
    <% end %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<section id="search-image">
  <h2>Search by Similar Image</h2>
  <%= form_tag "/search", method: :get do %>
    <%= text_field_tag :image_url, "", placeholder: "Image URL" %>
    <%= submit_tag "Search" %>
  <% end %>
</section>
